<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include ('partials/head.ejs')%>
</head>
<body>
    
    <%- include('partials/header.ejs') %>

    <main>
        <div class="container">

            <article class="content">
                <h1>Cadastro de post</h1>

                <% if (cadastrado) {%>
                    <p class="cadastrado">Cadastro realizado com sucesso</p>
                <%}%>
                <form action="/salvar-post" method="post" class="form-cadastro-post">
                    <label for="title">Título</label>
                    <input type="text" name="title">

                    <label for="text">Texto</label>
                    <textarea name="text" id="textarea" cols="30" rows="10"></textarea>

                    <div>
                        <button type="submit">Cadastrar</button>
                    </div>
                </form>


            </div>

            

        </div>
    </main>

    <%- include('partials/footer.ejs') %>

    <%- include('partials/foot.ejs')%>

</body>
</html>