<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include ('partials/head.ejs')%>
</head>
<body>
    
    <%- include('partials/header.ejs') %>

    <main>
        <div class="container">

            <div class="content">
                <h1>Página inicial!</h1>
                <p>Seja muito bem vindo!</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni beatae inventore quas, neque unde possimus sunt doloremque quisquam ex tempora. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum obcaecati ex numquam quasi minus nesciunt?</p>

                <div class="box-wrapper">
                    <div class="box">
                        <h2>Lorem ipsum</h2>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat, magnam!</p>
                    </div>
                    <div class="box">
                        <h2>Lorem ipsum</h2>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat, magnam!</p>
                    </div>
                    <div class="box">
                        <h2>Lorem ipsum</h2>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat, magnam!</p>
                    </div>
                    <div class="box">
                        <h2>Lorem ipsum</h2>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat, magnam!</p>
                    </div>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis tenetur placeat quasi assumenda velit numquam quam quo amet aliquam aut adipisci, mollitia illum. Blanditiis aperiam odio vitae dignissimos laborum recusandae. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error, deserunt hic aliquam atque minima debitis fuga placeat ex, expedita tenetur eos? Iusto fugiat maxime adipisci illo facilis voluptas dicta error?</p>
                </div>

            

        </div>
    </main>

    <%- include('partials/footer.ejs') %>

    <%- include('partials/foot.ejs')%>

</body>
</html>