<footer>
    <div class="bg pattern-vertical-lines-lg">
    </div>
    <div class="p-wrapper">
        <p>Treinando Partials - criação de templates</p>
        <p>Feito por <a href="https://github.com/eidynho/">Vinicius Eidy Okuda</a></p>
        <p>2022</p>
    </div>
</footer>

