<header>
    <div class="bg pattern-vertical-lines-lg">
        <svg width="0" height="0">
            <defs>
              <clipPath id="headerCurve" clipPathUnits="objectBoundingBox">
                <path d="M 0,1
                        L 0,0
                        L 1,0
                        L 1,1
                        C .65 .8, .35 .8, 0 1
                        Z" />
              </clipPath>
            </defs>
          </svg>
    </div>
    <div class="container">
      <div class="content">
        <h1>Teste página</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis nostrum necessitatibus repellendus incidunt maiores.</p>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/posts">Posts</a></li>
        </ul>
      </div>
    </div>
</header>