@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');

:root {
    --color-primary: #917758;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.home {
    height: 100vh;
    background-image: url(../images/bg-home.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.home .header  {
    padding: 30px 0;
}

.home .header .nav {
    display: flex;
    justify-content: center;
}

.home .header .nav ul {
    display: flex;
    list-style: none;
}


.home .header .nav ul li {
    display: flex;
    align-items: center;
    width: 150px;
    justify-content: center;

}

.home .header .nav ul li a {
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    padding: 20px;
    color: white;
}

.home .header .nav ul li a:hover {
    border-bottom: 1px solid var(--color-primary);
    color: var(--color-primary);
}

.home .header .nav ul li .logo {
    margin: 0 30px;
}

.home .banner {
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 260px;
    margin-top: -70px;
    width: 760px;
    margin-left: -380px;
}

.home .banner span {
    display: block;
}

.home .banner .slogan1 {
    text-transform: uppercase;
    color: var(--color-primary);
    letter-spacing: 4px;
    font-size: 14px;
}

.home .banner h1 {
    font-size: 120px;
}

.home .banner .slogan2 {
    margin-bottom: 15px;
}


/*************** ABOUT ***************/

.about {
    height: 75vh;
    background-color: var(--color-primary);
}

.about .container {
    display: flex;
}

.about .timing {
    background-image: url(../images/brush-big.jpg);
    background-repeat: no-repeat;
    display: flex;
    width: 33%;
    padding: 20px;
    position: relative;
    top: -50px;
}

.about .timing .icon-cut {
    width: 50px;
}

.about .timing .overlay {
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding: 40px 20px;
    width: 100%;
  }

.about .timing .overlay h3 {
    text-transform: uppercase;
    color: var(--color-primary);
    font-weight: bold;
    font-size: 30px;
    border-bottom: 1px solid var(--color-primary);
    margin: 0 auto 30px auto;
    width: fit-content;
}

.about .timing .overlay h4 {
    color: gray;
    font-weight: 400;
}

.about .timing .overlay span {
    color: white;
    font-size: 14px;
}

.about .timing .text:after {
    content: '•';
    display: block;
    font-size: 25px;
    color: white;
    margin-top: 10px;
}

.about .timing .text:last-of-type:after {
    content: '|';
}

.about .timing .icons {
    display: block;
    margin: 10px auto;
}

.about .experience {
    width: 66%;
    margin-left: 7%;
    margin-top: 100px;
    padding: 5px;
    color: white;
}

.about .experience .text {
    display: flex;
}

.about .experience h2 {
    font-weight: 400;
    font-size: 40px;
    width: 100%;
}

.about .experience h2:after {
    display: block;
    content: '';
    width: 100px;
    height: 3px;
    background-color: #c2aa8c;
    margin: 20px 0;
}

.about .experience .text p {
    margin-bottom: 20px;
    text-align: justify;
    font-weight: 400;
    font-size: 15px;
}