@charset "UTF-8";

.container {
    background-color: silver;
    display: flex; /* anula os displays dos filhos, passando a se comportar com display flex */
    flex-direction: row;

    justify-content: space-around;
}

.caixa {
    width: 100px;
    height: 100px;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}