@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap');

* {
margin: 0;
padding: 0;
}

html, body {
    min-height: 100%;
}

body {
    background: linear-gradient(163deg, rgba(106,54,204,1) 35%, rgba(26,5,64,1) 100%);
    color: white;
    font-family: 'Raleway', sans-serif;
    margin: 10px;
}

.profile {
    text-align: center;
    margin-top: 5px;
}

.avatar {
    width: 100px;
    border: 3px solid rgb(221, 202, 255);
    border-radius: 50%;
    box-shadow: 0px 0px 30px rgba(221, 202, 255, 0.582);
}

.social {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 20px 0px;
}

.social img {
    width: 33px;
}

.links-div {
    list-style: none;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.712);
    margin: 10px 20px;
    padding: 20px;
}

a {
    text-decoration: none;
}

a > p {
    padding-top: 5px;
    color: rgb(44, 44, 44);
    text-align: justify;
}

h1 {
    font-weight: bold;
    font-size: 24px;
    margin: 5px 0px;
}

h2 {
    font-weight: normal;
}

h3 {
    color: rgb(106,54,204);
}