@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #FFFFFF;
    --color-secondary: #707070;
    --color-tertiary: #888888;
    --color-quaternary: #D6D6D6;
}

body {
    font-family: 'Helvetica Neue', sans-serif;
}


/*********** HEADER ***********/

.header {
    height: 400px;
}

.header-background {
    background-color: var(--color-secondary);
    height: 400px;
    width: 100vw;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 70%);
    position: absolute;
}

.container-header {
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.header .span-title {
    display: block;
    font-size: 18px;
    font-weight: normal;
    margin: 70px auto 0 auto;
    letter-spacing: 0.1px;
    color: white;
}

.header .title {
    font-size: 36px;
    font-weight: bold;
    margin: 4px auto 30px auto;
    letter-spacing: 0.4px;
    color: white;
}


.header p {
    font-size: 14px;
    font-weight: lighter;
    letter-spacing: 0.2px;
    margin: 0px auto 60px auto;
    color: white;
}

.header ul {
    display: flex;
    justify-content: space-around;
}

.header ul li {
    border: 2px solid var(--color-secondary);
    list-style: none;
    padding: 10px;
    border-radius: 6px;
    background-color: white;
    min-width: 165px;
    text-align: center;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.116);
}

.header ul li:hover {
    transition: all .5s ease;
    background-color: var(--color-quaternary);
}

.header ul li > a {
    color: var(--color-tertiary);
    text-decoration: none;
    font-size: 14px;
    min-width: 500px;
    padding: 11px 16px;
}

/*********** SECTION HELP ALGORITHM ***********/



.main {
    background-color: white;
}

.main .container {
    width: 1000px;
    margin: auto;
}

/* HELP ALGORITHM */

.main .help-algorithm {
    display: flex;
    justify-content: space-between;
    margin: 60px 40px 0px 40px;
}

.main .help-algorithm .text-algorithm {
    width: 57%;
}

.main .help-algorithm .text-algorithm .subtitle {
    color: var(--color-tertiary);
    margin-bottom: 30px;
    font-size: 22px;
    font-weight: normal;
}

.main .help-algorithm .text-algorithm p {
    color: var(--color-tertiary);
    margin-bottom: 30px;
    font-size: 14px;
    word-spacing: 0.2px;
    letter-spacing: 0.1px;
    line-height: 20px;
}

/* FORM-ALGORITHM */

.main .help-algorithm .form-algorithm {
    width: 36%;
    color: var(--color-tertiary);
}

.main .help-algorithm .form-algorithm > label > input {
    display: block;
    width: 100%;
    padding: 7px;
    margin: 7px 0 25px 0;
}

.main .help-algorithm .form-algorithm .gender {
    display: flex;
}

.main .help-algorithm .form-algorithm .gender label {
    margin: 0 40px 25px 0;
    color: var(--color-tertiary);
    cursor: pointer;
}

.main .help-algorithm .form-algorithm .btn-form-enviar {
    width: 100%;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid var(--color-secondary);
    color: var(--color-tertiary);
    font-size: 16px;
    cursor: pointer;
}

.main .help-algorithm .form-algorithm .btn-form-enviar:hover {
    transition: all 0.5s ease;
    background-color: var(--color-secondary);
    color: white;
}






@media (max-width: 840px) {
    .header .span-title {
        margin: 70px 30px 0 20px;
    }

    .header .title {
        margin: 0px 30px 10px 20px;
    }

    .header p {
        margin: 0px 30px 40px 20px;
    }

    .header ul {
        margin: 0px 20px;
        flex-wrap: wrap;
    }

    .header ul li {
        margin: 5px;
    }
}