@charset "UTF-8";

.container {
    display: flex; /* anula os displays dos filhos, passando a se comportar com display flex */
    flex-direction: row;
    justify-content: space-between;

    background-color: silver;
    height: 600px;
}

.caixa {
    width: 100px;
    height: 100px;
}

.red {
    align-self: center; /* é o align-items individual */
    /* order: 3;  por natureza a ordem de todos é 0 (p colocar antes de todos: order: -1; */
    flex-grow: 3; /* terá um tamanho maior q os outros */
    background-color: red;
}

.blue {
    align-self: flex-end;
    flex-grow: 2;
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.green {
    align-self: center;
    background-color: green;
}